{
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "templateStrings": true,
      "superInFunctions": false,
      "classes": true,
      "modules": true
    },
    "sourceType": "module"
  },
  "plugins": [
    // "prettier",
    "babel",
    "@typescript-eslint"
  ],
  "extends": [
    // "stylelint"
    "plugin:vue/recommended"
    // "plugin:@typescript-eslint/eslint-recommended",
    // "plugin:@typescript-eslint/recommended"
  ],
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack/webpack.config.js"
      }
    }
  },
  "rules": {
    // "prettier/prettier": "error",
    "quotes": [2, "single", { "avoidEscape": true }],
    "global-require": "off",
    "array-callback-return": "off",
    "no-console": "off",
    "import/no-extraneous-dependencies": 0,
    "prefer-const": ["error", {
      "destructuring": "any",
      "ignoreReadBeforeAssign": false
    }],
    "prefer-template": "error",
    "object-shorthand": ["error", "always"],
    "arrow-parens": ["error", "always"],
    "prefer-arrow-callback": "error",
    "space-in-parens": ["error", "never"],
    "no-trailing-spaces": "error",
    "no-multi-spaces": "error",
    "no-underscore-dangle": "error",
    "vue/max-attributes-per-line": ["error", {
      "singleline": 3,
      "multiline": {
        "max": 1,
        "allowFirstLine": false
      }
    }],
    "vue/html-self-closing": ["error", {
      "html": {
        "void": "always"
      }
    }]
  },
  "globals": {
    "Vue": true,
    "document": true,
    "window": true,
    "jQuery": true,
    "$": true,
    "localStorage": true,
    "fetch": true,
    "ENV": true
  }
}
